{% extends './home_layout.html' %}
{% load static %}

{% block title %} Add Faculty {% endblock %}

{% block body %}
<div class="card shadow-lg">
  <div class="card-header p-4 d-flex justify-content-between align-items-center">
    <h5 class="mb-0 fs-4">
      <i class="bi bi-people-fill me-2"></i> Add Faculty
    </h5>
    <a href="javascript:history.back()" class="btn btn-outline-secondary btn-sm">
      <i class="bi bi-arrow-left"></i> Back
    </a>
  </div>
  <div class="card-body p-5">
    <form action="{% url 'add_faculty' %}" method="post" class="needs-validation" novalidate>
      {% csrf_token %}
      <div class="row">
        <div class="col-md-6">
          <div class="form-group mb-3">
            <label for="edu_mail">NITK EDU mail-ID</label>
            <input type="email" class="form-control" id="edu_mail" placeholder="Enter NITK Mail ID" name="edu_mail"
              required>
          </div>
          <div class="form-group mb-3">
            <label for="email">Email address</label>
            <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
          </div>
          <div class="form-group mb-3">
            <label for="fname">First Name</label>
            <input type="text" class="form-control" id="fname" placeholder="Enter First Name" name="fname" required>
          </div>
          <div class="form-group mb-3">
            <label for="abbreviation">Abbreviation</label>
            <input type="text" class="form-control" id="abbreviation" placeholder="Enter faculty's abbreviation"
              name="abbreviation" required>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group mb-3">
            <label for="username">Roll No/Employee ID</label>
            <input type="text" class="form-control" id="username" placeholder="Enter Roll Number" name="username"
              required>
          </div>
          <div class="form-group mb-3">
            <label for="mobile_number">Mobile Number</label>
            <input type="text" class="form-control" id="mobile_number" placeholder="Enter Mobile Number"
              name="mobile_number" required>
          </div>
          <div class="form-group mb-3">
            <label for="lname">Last Name</label>
            <input type="text" class="form-control" id="lname" placeholder="Enter Last Name" name="lname" required>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 d-flex justify-content-center">
          <button type="submit" class="btn btn-primary" style="width: 250px;">Add Faculty</button>
        </div>
      </div>
    </form>
    <hr>
    <h5 class="text-center mt-4">Or Upload a CSV File</h5>
    <form action="{% url 'add_faculty' %}" method="post" enctype="multipart/form-data" class="mt-3">
      {% csrf_token %}
      <div class="form-group">
        <label for="csv_file">Upload CSV File</label>
        <input type="file" class="form-control" id="csv_file" name="csv_file" accept=".csv">
      </div>
      <div class="text-center mt-3">
        <button type="submit" class="btn btn-primary">Upload & Add Faculties</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}