{% extends './home_layout.html' %}
{% load static %}

{% block title %} Add Backlogs {% endblock %}

{% block body %}
<div class="container mt-4">
    <div class="card shadow-lg border-0 rounded-4">
        <div class="card-header bg-danger text-white p-4 d-flex justify-content-between align-items-center rounded-top">
            <h5 class="mb-0 fs-4">
                <i class="bi bi-exclamation-circle me-2"></i> Add Backlogs
            </h5>
            <a href="javascript:history.back()" class="btn btn-light btn-sm">
                <i class="bi bi-arrow-left"></i> Back
            </a>
        </div>
        <div class="card-body bg-light p-4 rounded-bottom">
            <form action="{% url 'add_backlog' id=id %}" method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="students" class="form-label">Select Backlog Students</label>
                    <select id="students" class="form-select" name="students" multiple required>
                        {% for student in students %}
                        <option value="{{ student.user.id }}" {% for s in existing_backlogs %} {% if s.user.id is student.user.id %} selected {% endif %} {% endfor %}>
                            {{ student.user }}
                        </option>
                        {% endfor %}
                    </select>
                </div>
                <button type="submit" class="btn btn-danger">Update Event</button>
            </form>
        </div>
    </div>
</div>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
{% endblock %}