{% extends './login_layout.html' %}
{% load static %}
{% block head %}
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
{% endblock %}

{% block title %} Add Event {% endblock %}

{% block body %}
<div class="reg-container">
    <div class="glass reg-userform">
        <h1>Project Guide Allocator</h1>
        <h5>Add Event Here</h5>
        <form action="{% url 'add_event' %}" method="post" class="reg-userform-form">
            {% csrf_token %}
            <div class="form-group">
                <label for="name">Event Name</label>
                <input type="text" class="form-control" id="name" name="name" placeholder="Enter event name" required>
            </div>
            <div class="form-grsoup">
                <label for="start_datetime">Start DateTime</label>
                <input type="datetime-local" class="form-control" id="start_datetime" name="start_datetime" required>
            </div>
            <div class="form-group">
                <label for="end_datetime">End DateTime</label>
                <input type="datetime-local" class="form-control" id="end_datetime" name="end_datetime" required>
            </div>
            <div class="form-group">
                <label for="batch">Eligible Batch</label>
                <input type="text" class="form-control" id="batch" name="batch" placeholder="Enter eligible batch"
                    required>
            </div>
            <div class="form-group">
                <label for="branch">Eligible Branch</label>
                <input type="text" class="form-control" id="branch" name="branch" placeholder="Enter eligible branch"
                    required>
            </div>
            <div class="form-group">
                <label for="project_type">Project Type</label>
                <div>
                    <input type="radio" id="btech" name="project_type" value="B.Tech" required>
                    <label for="btech">B.Tech</label>
            
                    <input type="radio" id="mtechmaj" name="project_type" value="M.Tech Major" required>
                    <label for="mtech">M.Tech Major</label>
                    
                    <input type="radio" id="mtechmin" name="project_type" value="M.Tech Minor" required>
                    <label for="mtech">M.Tech Minor</label>
                </div>
            </div>
            <div class="form-group">
                <label for="faculties">Select Eligible Faculties</label>
                <select id="faculties" class="form-control" name="faculties" multiple required>
                    {% for faculty in faculties %}
                    <option value="{{faculty.user.id}}">{{ faculty.user }}</option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Add Event</button>
        </form>
    </div>
</div>

<style>
    .reg-userform {
        /* background: white; */
        padding: 3%;
        max-width: 1100px;
        margin: auto;
        border-radius: 1;
        filter: none;
    }

    .reg-userform>h1 {
        font-weight: bolder;
        letter-spacing: 1.5px;
        border-bottom: solid;
        padding: 1rem;
        margin-bottom: 1.5rem;
    }

    .reg-userform>h5 {
        font-weight: bolder;
        margin-left: 2%;
    }

    .reg-userform-form {
        max-width: 600px;
        margin-left: 2%;
        margin-top: 2rem;
    }

    .form-group {
        margin-bottom: 1.5rem;
    }
</style>
{% endblock %}