{% extends './home_layout.html' %}
{% load static %}
{% block head %}
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
{%endblock%}
{%block title%} All Events {%endblock%}

{% block body %}
    <div>
        <table class="table table-striped glass">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Event Name</th>
                <th scope="col">Start date</th>
                <th scope="col">End date</th>
                <th scope="col">Course Type</th>
                <th scope="col">View</th>
                <th scope="col">Edit Event</th>
                <th scope="col">Add Backlog</th>
            </tr>
            </thead>
            <tbody>
            {% for event in events %}
                <tr>
                    <th scope="row" style="width: 3rem;">{{forloop.counter}}</th>
                    <td style="font-weight: bolder; letter-spacing: 1.5px;"><strong>{{event.event_name}}</strong></td>
                    <td>{{event.start_datetime}}</td>
                    <td>{{event.end_datetime}}</td>
                    <td>{{event.project_type}}</td>
                    <td><a href="{% url 'create_cluster' id=event.id %}"><button class="btn btn-success">
                        View
                     </button></a></td>
                     <td><a href="{% url 'edit_event' id=event.id %}"><button class="btn btn-success">
                        Edit
                     </button></a></td>
                     <td><a href="{% url 'add_backlog' id=event.id %}"><button class="btn btn-success">
                        Add Backlog
                     </button></a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
