{% extends './login_layout.html' %}
{% load static %}
{% block head %}
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
{%endblock%}
{%block title%} All Events {%endblock%}

{% block body %}
    <div>
        <table class="table table-striped glass">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Event Name</th>
                <th scope="col">Cluster ID</th>
                <th scope="col">Faculty</th>
                <th scope="col">Resolve clash</th>
            </tr>
            </thead>
            <tbody>
            {% for clash in clashes %}
                <tr>
                    <th scope="row" style="width: 3rem;">{{forloop.counter}}</th>
                    <td style="font-weight: bolder; letter-spacing: 1.5px;"><strong>{{clash.event.event_name}}</strong></td>
                    <td style="font-weight: bolder; letter-spacing: 1.5px;"><strong>{{clash.cluster_id}}</strong></td>
                    <td style="font-weight: bolder; letter-spacing: 1.5px;"><strong>{{clash.faculty.abbreviation}}</strong></td>
                    <td><a href="{% url 'admin_resolve_clash' id=clash.id %}"><button class="btn btn-success">
                                Resolve clash
                        </button></a></td>
                    <!-- <td style="font-weight: bolder; letter-spacing: 1.5px;"><a href="{% url 'resolve_clash' id=clash.id %}">Resolve clash</a></td> -->
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
