{% extends './login_layout.html' %}
{% load static %}

{% block head %}
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" type="text/css" href="{% static 'login_styles.css' %}" />
{% endblock %}

{% block title %} Choice Locking OTP {% endblock %}

{% block body %}
{% if message is not none %}
<div class="alert alert-danger alert-top" role="alert">
    {{ message }}
</div>
{% endif %}

<div class="reg-container">
    <div class="reg-userform">
        <div class="image-container">
            <img src="{% static 'building.png' %}" alt="Login Image" />
        </div>
        <div class="form-container">
            <h1 class="header-title">
                <div class="title-left">
                    <a class="nav-link" href="https://www.nitk.ac.in/">
                        <img src="{% static 'nitkLogo.svg' %}" class="nitk-logo" alt="NITK Logo" />
                    </a>
                    <div class="title-text">
                        <span class="main-title">Project Guide Allocator</span>
                        <span class="sub-title">National Institute of Technology Karnataka, Surathkal</span>
                    </div>
                </div>
            </h1>
            <h5>Enter the OTP</h5>
            <form action="{% url 'choice_lock_otp' id=id %}" method="post" class="reg-userform-form">
                {% csrf_token %}
                <div class="form-group">
                    <label for="otp_entry">OTP:</label>
                    <input type="text" class="form-control" id="otp_entry" placeholder="Enter your OTP" name="otp_entry"
                        required />
                </div>
                <button type="submit" class="btn btn-primary">Lock Your Choice</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}