{% extends './login_layout.html' %} {% load static %} {% block head %}
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<link rel="stylesheet" type="text/css" href="{% static 'login_styles.css' %}" />
{%endblock%} {% block title %} Login {%endblock%}
{% block body %} 
{% if message is not none %}
<div class="alert alert-danger alert-top" role="alert">{{ message }}</div>
{% endif %}
<div class="reg-container">
  <div class="reg-userform">
    <div class="image-container">
      <img src="{% static 'building.png' %}" alt="Login Image" />
    </div>
    <div class="form-container">
      <h1 class="header-title">
        <div class="title-left">
            <a class="nav-link" href="https://www.nitk.ac.in/">
              <img src="{% static 'nitkLogo.svg' %}" class="nitk-logo" alt="NITK Logo" />
            </a>
            <div class="title-text">
                <span class="main-title">Project Guide Allocator</span>
                <span class="sub-title">National Institute of Technology Karnataka, Surathkal</span>
            </div>
        </div>
      </h1>
       

      <form action="{% url 'login' %}" method="post" class="reg-userform-form">
        {% csrf_token %}
        <div class="form-group">
          <label for="exampleInputEmail1">NITK EDU Mail-ID</label>
          <input
            type="text"
            class="form-control"
            id="exampleInputEmail1"
            placeholder="NITK mail ID"
            name="edu_email"
            required
          />
          
          <div
            class="g-recaptcha"
            data-sitekey="6LcGOVsqAAAAAFsMBz_UDf4KgOafYm7WZgF_Vu4l"
          ></div>
        </div>
        <input type="hidden" name="next" value="{{ request.GET.next }}" />
        <button type="submit" class="btn btn-primary">Login</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
