{% extends "login_layout.html" %} {% load static %} {% block content %}
<div class="container">
  <div class="image-section">
    <img src="{% static 'building.png' %}" alt="NITK Building" />
  </div>
  <div class="login-card">
    <div class="header">
      <img src="{% static 'nitkLogo.png' %}" alt="NITK Logo" class="logo" />
      <div>
        <h2>Project Guide Allocator</h2>
        <p>National Institute of Technology Karnataka, Surathkal</p>
      </div>
    </div>
    <hr />
    <form method="POST">
      {% csrf_token %}
      <label for="email">E-mail</label>
      <input
        type="email"
        name="email"
        id="email"
        placeholder="NITK edu email"
        required
      />

      <script
        src="https://www.google.com/recaptcha/api.js"
        async
        defer
      ></script>
      <div
        class="g-recaptcha"
        data-sitekey="6LcGOVsqAAAAAFsMBz_UDf4KgOafYm7WZgF_Vu4l"
      ></div>

      <button type="submit" class="login-btn">Login</button>
    </form>
  </div>
</div>
{% endblock %}
